.button {
  --opacity: 1;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  font-weight: bold;
  margin-right: 1rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cad7eaff;
  transition: border-color 0.25s opacity 0.3s;
  opacity: var(--opacity);

  &:hover {
    --opacity: 0.7;
    border-color: #646cff;
  }
}

.button:disabled {
  cursor: not-allowed;
}
.button.active {
  --opacity: 0.9;
  background: #3e6ae1;
  color: #fff;
}
